.a{
  
  background-color:#28df99;
  height: 500px;

  
  border: 10px;
  border-style: solid;
  
  padding: 20px;
}

.b{
  
  background-color:red;
  height: 200px;
  width: 200px;
  
  border: 10px;
  border-style: solid;

  margin-left: 250px;
}

.c{
  
  background-color:red;
  height: 200px;
  width: 200px;
  
  border: 10px;
  border-style: solid;

  margin-left: 462px;
}